dash==2.12.1
dash-bootstrap-components==1.4.2
dash-daq==0.5.0
dash-selectable==0.0.1
deep-translator==1.11.4
Flask==2.2.5
gTTS==2.3.2
langdetect==1.0.9
openai==1.12.0
orjson==3.9.5
pydub==0.25.1
tenacity==8.2.2
