#buy-me-a-coffee-logo {
    max-width: 100px;
    margin-top: -3px;
}
#email {
    text-align: center;
}
#footer {
    border-top: 1px solid #cccccc;
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin: 20px auto 5px;
    width: 100%;
}
#footer a {
    margin: 23px 15px 10px;
}
#footer p {
    margin: 25px 15px 10px;
}
.footer-pipe {
    color: #cccccc;
    margin-top: 25px;
}
@media (max-width: 800px) {
    #buy-me-a-coffee-logo {
        margin-top: 0px;
    }
    #footer {
        display: block;
        padding: 20px;
    }
    #footer a, #footer p {
        display: block;
        margin: 0px auto 10px;
    }
    .footer-pipe {
        display: none;
    }
}
